body{
    background-color: #66C6E6;
}

.ranking{
    height: 100vh;
    max-width: 100%;
    display: flex;
}
table{
    border-collapse: collapse;
    margin: 40px auto auto auto;
}

td,
th {
    border: 1px solid rgb(17, 4, 4);
    padding: 6px;
    text-align: center;
}

tr {
    background-color: #bdf4ff;
}

tr:nth-child(even) {
    background-color: #DDF7FC;
}


tr:hover {
    background-color: #ddd;
}

th {
    padding: 12px 40px 12px 40px;
    text-align: left;
    background-color: #E462C3;
    color: white;
    text-align: center;
}