body{
    background-color: #66C6E6;
}

.voltar{
    width: 100vw;
    display: flex;
}

.voltar button{
    margin: 10px auto 0 auto;
    border-radius: 6px;
    color: black;
    font-size: 1em;
    max-width: 300px;
    padding: 15px;
    width: 100%;
}

.ranking{
    height: 100vh;
    width: 100%;
    display: flex;
}
table{
    border-collapse: collapse;
    margin: 40px auto auto auto;
}

td,
th {
    border: 1px solid rgb(17, 4, 4);
    padding: 6px;
    text-align: center;
    color: black;
}

tr {
    background-color: #bdf4ff;
}

tr:nth-child(even) {
    background-color: #DDF7FC;
}


tr:hover {
    background-color: #ddd;
}

th {
    padding: 12px 40px 12px 40px;
    text-align: left;
    background-color: #E462C3;
    color: white;
    text-align: center;
}

@media (max-width: 768px) {
    table {
        width: 100%;
    }

    th, td {
        padding: 8px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    table {
        width: 100%;
        font-size: 12px;
    }

    th, td {
        padding: 6px;
    }

    th {
        padding: 10px;
    }
}